*{
	margin:0 ;
	padding: 0;
}

.main{
	display: block;
	width: 400px;
	height: 600px;
	margin: auto;
	text-align: center;
	border: 2px solid rgb(170, 165, 243);
	background-color: rgb(248, 245, 245);
}
.heder{
height: 30px;
border-bottom: 1px solid rgb(107, 97, 248);
}
.img1>span{
	display:block;
	position: relative;
	top: 12px;
}
span {
	font-size: 12px;
	color:rgb(62, 62, 243) ;
}
h2 ,h3{
	text-align: center;

}
.imagen{
	display: flex;
	justify-content: space-between;
	height: 150px;
	border-bottom: 1px solid rgb(107, 97, 248);
  
}
.text{
	height: 130px;
	border-bottom: 1px solid rgb(107, 97, 248) ;
}
.text>h3{
	color:rgb(34, 34, 247); ;
}
.row1{
	font-size: 18px;
	color: rgb(62, 62, 243);
}
.row2,
.row4{
	font-size: 14px;
	color: rgb(27, 25, 25);
}
.row3,
.row5{
	color: rgb(179, 41, 41);
}
.img-cont{
	position:relative;
	top: 8px;
	left: 25px;
}
.img-cont> img{
display:block;
width: 350px;
height: 270px;
text-align: center;

}

.img1{
	margin:auto;
width: 135px;
}
.img2{
	margin: auto;
width: 80px;
}